@*@model IEnumerable<MvcVehicleService4.Business.VehicleMake>*@
@*@model IEnumerable<MvcVehicleService4.Models.VehicleMakeViewModel>*@


@*@model PagedList.IPagedList<MvcVehicleService4.Business.VehicleMake>
    @using PagedList.Mvc;*@
@model PagedList.IPagedList<MvcVehicleService4.Models.VehicleMakeViewModel>
@using PagedList.Mvc;

@{
    /**/

    ViewBag.Title = "Vehicle Make";
}

<h2>Vehicle Makes</h2>
<p>

    @Html.ActionLink("Create New", "Create")

</p>


<table class="table">
    <thead>
        <tr>
            @*<th>
                    ID
                </th>*@
            <th>
                @Html.ActionLink("ID", "Index", new { Sorting_Order = ViewBag.SortingVehicleMakeID })
            </th>
            @*<th>
                    name
                </th>*@
            <th>
                @Html.ActionLink("Name", "Index", new { Sorting_Order = ViewBag.SortingVehicleMakeName })
            </th>
            @*<th>
                    abrv
                </th>*@
            <th>
                @Html.ActionLink("Abrv", "Index", new { Sorting_Order = ViewBag.SortingVehicleMakeAbrv })
            </th>

        </tr>
    </thead>
    <tbody>
        @*@if (ViewBag.ListaVMView != null)
            {
                foreach (var item in ViewBag.ListaVMView)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>@item.Abrv</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        </td>
                      </tr>
                }
            }*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>

                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                </td>
            </tr>
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }),
    new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded , DisplayPageCountAndCurrentLocation = true } )

<h4>
    @Html.ActionLink("Vehicle Models", "Index", "VehicleModel")
</h4>

